* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body { 
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 1em;
}

h1 { 
  font-size: 3em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.75em;
}

h1, h2, h3 {
  margin: 1rem 0;
}

div.welcome {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5em;
}

a.button {
  background-color: black;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: white;
  text-decoration: none;
  margin: 0.5rem;
}

a.button:hover {
  background-color: #404040;
}

.logo {
  /*-webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;*/
}

.logo .text-blue {
  color: #6382d9;
  /*-webkit-text-fill-color: #6382d9;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0);*/
}

header.logo {
  font-size: 1.2rem;
}

ul {
  margin-left: 1em;
}