* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body { 
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 1em;
}

h1 { 
  font-size: 3em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.75em;
}

h1, h2, h3 {
  margin: 1rem 0;
  font-weight: bold;
}

div.welcome {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5em;
}

div.endscreen {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5em;
}

a.button {
  background-color: black;
  display: inline-block;
  min-width: 155px;
  min-height: 47px;
  padding: 0.5em 1em;
  border-radius: 1.2em;
  color: white;
  text-decoration: none;
  margin: 0.5rem;
  
  -webkit-box-shadow: 1px 1px 2px 0px rgba(20, 20, 20, 0.2);
  -moz-box-shadow:    1px 1px 2px 0px rgba(20, 20, 20, 0.2);
  box-shadow:         1px 1px 2px 0px rgba(20, 20, 20, 0.2);
}

a.button.button-cta {
  min-width: 200px;
}

.logo {
  /*-webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;*/
}

.logo .text-blue {
  color: #6382d9;
  /*-webkit-text-fill-color: #6382d9;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0);*/
}

header.logo {
  font-size: 1.2rem;
}

ul {
  margin-left: 1em;
}

.desktop .question-view {
  width: 100%;
}

.desktop .question-view td {
  width: 50%;
}

.button.button-white-stroke {
  border: solid 3px white;
  background-color: rgba(0, 0, 0, 0);
}

.button.button-white-stroke:hover {
  background-color: #ffffff;
  color: #000000;
}

.button.button-blue {
  border: solid 3px #1a8bb3;
  background-color: #1a8bb3;
}

.desktop table.leaderboard {
  width: 100%;
}

.desktop table.leaderboard tr td {
  width: 60%;
  text-align: center;
}

.desktop table.leaderboard tr td:nth-child(odd) {
  width: 20%;
  text-align: center;
}

.desktop table.leaderboard tr:nth-child(even) td {
  background-color: #def4ff;
}

img.question-image {
  max-width: 100%;
}

.mobile p {
  font-size: 2rem;
}

.mobile input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px black solid;
  font-size: 2rem;
}

.mobile-controller > div.mobile {
  display: none;
}

.mobile-enter-tag input {
  position: absolute;
  bottom: 0;
  left: 0;
}

p.score {
    border-bottom: 1px dashed black;
    margin-top: 1em;
}
p.score, p.rank {
    text-align: center;
    font-size: 3em;
    display: block;
}
